html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
#root{
	height:500px;
}
.Container{
	margin: 8px;
	height:500px;
	display:block;
}
.itemBox{
	 border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 8px;
  background-color: white;
}
